body{
/*     background-image: url(My-Background.png); */
    background-image: url(Bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-attachment: fixed; */
    /* @media screen {
        max-width: 455px;
    } */
}
