body{
<<<<<<< HEAD
    background-image: url('/My-Background.png');
}
=======
    background-image: url(My-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media screen {
        max-width: 455px;
    }
}
>>>>>>> 54ac6f3 (Responsive)
